<p> <%= t('devise.mailer.email_changed.greeting', recipient: @email) %> </p>

<% if @resource.try(:unconfirmed_email?) %>
  <p> <%= t('devise.mailer.email_changed.message', recipient: @resource.unconfirmed_email) %>
<% else %>
  <p> <%= t('devise.mailer.email_changed.message', recipient: @resource.email) %>
<% end %>
